<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>217688270447-vu6hd970kgckqtkacik3dfni81mhtud6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217688270447-vu6hd970kgckqtkacik3dfni81mhtud6</string>
	<key>API_KEY</key>
	<string>AIzaSyChsHrfnlVnZZTP3fEmFVWG2f5D5V4hjmU</string>
	<key>GCM_SENDER_ID</key>
	<string>217688270447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tipsy.ios</string>
	<key>PROJECT_ID</key>
	<string>tipsy-5bda3</string>
	<key>STORAGE_BUCKET</key>
	<string>tipsy-5bda3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:217688270447:ios:449215fe27938e3a</string>
	<key>DATABASE_URL</key>
	<string>https://tipsy-5bda3.firebaseio.com</string>
</dict>
</plist>